footer{
  background-color: #CACACA;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;

  & span{
    font-weight: 600;
    font-size: 2em;
    color: white;
  }

  & .social-medias{
    & ul{
      display: flex;
      justify-content: center;
      gap: 10vw;

      & li img{
        width: 70%;
      }
    }
  }
}

