<header>
  <a routerLink="home"><img src="assets/logo.svg" alt="logo"></a>

  @if (!isMobile) {
    <ul>
      <li><a routerLink="home">página inicial</a></li>
      <li><a routerLink="catalogo">catálogo</a></li>
      <li><a routerLink="about">sobre nós</a></li>
    </ul>
  }
  @else {
    <div class="menu-container">
      <div class="toggler" (click)="changeMenuVisibility(downTriangle)" [appClickOutsideMenu]="isMenuVisible" (clickOutside)="changeMenuVisibility(downTriangle)">páginas <img src="assets/down_triangle.png" alt="down_triangle" #downTriangle></div>
      @if (isMenuVisible) {
        <div class="menu-container">
          <div><a routerLink="home">página inicial</a></div>
          <div>catálogo</div>
          <div>sobre nós</div>
        </div>
      }
    </div>
  }
  <a href=""><img src="assets/Basket_alt_light.svg" alt="kart"></a>
</header>
