<header>
  <a href="instagram.com"><img src="assets/logo.svg" alt="logo"></a>
  @if (!isMobile) {
    <ul>
      <li>página inicial</li>
      <li>catálogo</li>
      <li>sobre nós</li>
    </ul>
  }
  @else {
    <div class="menu-container">
      <div class="toggler">páginas</div>
      <div class="menu">
        <div>página inicial</div>
        <div>catálogo</div>
        <div>sobre nós</div>
      </div>
    </div>
  }
  <a href=""><img src="assets/Basket_alt_light.svg" alt="kart"></a>
</header>
