<!--Responsible by display the normal header or mobile and manage the menu in the mobile-->

<header>
  <a routerLink="home"><img src="assets/logo.svg" alt="logo"></a>

  <!--If else to display the correct menu-->
  @if (!isMobile) {
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">página inicial</a></li>
      <li><a routerLink="/catalog">catálogo</a></li>
      <li><a routerLink="/admin">administrador</a></li>
    </ul>
  }
  @else {
    <div class="menu-container">
      <!--When click in the menu show it
          isMenuVisible connect to the directive to activate it or not
          If the clickOutside is emmited change the visibility bak-->
      <div class="toggler"
      (click)="changeMenuVisibility(downTriangle)"
      [appClickOutsideMenu]="isMenuVisible"
      (clickOutside)="changeMenuVisibility(downTriangle)">
      páginas <img src="assets/down_triangle.png" alt="down_triangle" #downTriangle>
    </div>
    <!--The if to the menu-->
      @if (isMenuVisible) {
        <div class="menu-container">
          <div><a routerLink="/home">página inicial</a></div>
          <div><a routerLink="/catalog">catálogo</a></div>
          <div><a routerLink="/admin">Administrador</a></div>
        </div>
      }
    </div>
  }
  <a routerLink="/cart">
    <img src="assets/Basket_alt_light.svg" alt="cart">
    <span>{{ cartTotalProducts }}</span>
  </a>
</header>
