.product-container{
  width: 13rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    width: 11rem;
    height: 16rem;
  }

  & img{
    width: 100%;
    aspect-ratio: 1/1;
  }

  & p{
    font-size: 1.3em;

    @media screen and (max-width: 800px) {
      font-size: 1.1em;
    }
  }

  & .info-kart{
    display: flex;
    justify-content: space-between;

    & img{
      height: 50px;
      width: auto;
      cursor: pointer;
    }
  }
}
