.products{
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 6rem;
  overflow-y: hidden;
}

.products::-webkit-scrollbar{
  height: 10px;
  background-color: transparent;
  border: 1px solid #a5a5a5;
  border-radius: 10px;
}

.products::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.555);
  border-radius: 10px;
}
