div{
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @media screen and (width<400px){
    width: 98%;
  }

  & h2{
    font-size: 2.5rem;
    font-weight: 800;
  }

  & .products{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;

    @media screen and (width<430px) {
      align-items: center;
      gap: 0;
    }
  }
}
