/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abhaya Libre", serif;
}
body{
  background: rgb(217,217,217);
  background: linear-gradient(90deg, rgba(217,217,217,1) 0%, rgba(230,230,230,1) 100%);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
