<!--Only the footer layout-->

<footer>
  <span>fale conosco!</span>
  <div class="social-medias">
    <ul>
      <li><a href="https://web.whatsapp.com/" target="_blank"><img src="assets/whatsapp-icon.svg" alt="whatsapp icon"></a></li>
      <li><a href="https://www.tiktok.com/pt-BR/" target="_blank"><img src="assets/tiktok-icon.svg" alt="tiktok icon"></a></li>
      <li><a href="https://www.facebook.com/" target="_blank"><img src="assets/facebook-icon.svg" alt="facebook icon"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="assets/instagram-icon.svg" alt="instagram icon"></a></li>
    </ul>
  </div>
</footer>
